.main2, .main3, .main4, .main5, .main6, .main7,.main8{padding: 100px 0;box-sizing: border-box;}
.tit h1{font-size: 28px;font-weight: 600;color: #212529;}
.tit p{color: #495057;font-weight: 400;}

.main1{position: relative;overflow: hidden;}
.main1 video{width: 100%;display: block;}
.main1 .vod_cover{position: absolute;width: 100%;height: 100%;background: rgba(0,0,0,0.5);z-index: 1;}
.main1 .inner{position:absolute;z-index:2;color:#fff;top: 38%;left: 50%;transform: translate(-50%,-50%);}
.main1 .inner h1{font-size:36px;font-weight: 600;}
.main1 .inner p{margin: 18px 0;font-weight: 300;}
.main1 .inner a{width:170px;margin-top: 10px;margin-right: 15px;}

.logo_wrap img:nth-of-type(1){width: 103px;}
.logo_wrap img:nth-of-type(2){width: 129px;margin: 0 70px;}
.logo_wrap img:nth-of-type(3){width: 203px;}
.main1 .logo_wrap{text-align: center;padding: 25px 0;position: absolute;transform: none;left: 0;z-index: 1;background: #fff;bottom: 0;width: 100%;height: auto;}
.logo_wrap img{display: inline-block;}

.main2>img{margin-top:40px}
.main2 .tit h1{display: inline-block;}
.main2 .tit p{width: 435px;display: inline-block;float: right;padding-top: 5px;}
.main2 .tit p a{display: block;color: #1c7cd6;font-weight: 600;margin-top: 10px;}

.main3{background: #f1f8fc;text-align: center;}
.main3 .tit h1{font-size: 32px;margin-bottom: 20px;}
.main3 .tit p{margin-bottom: 100px;}
.main3 ul li{background: #fff;border-radius: 10px;box-shadow: 0 2px 10px 0 #ced4da;width: calc((100% / 3) - 22px);display: inline-block;margin-right: 28px;text-align: center;padding: 40px 0;}
.main3 ul li:nth-of-type(1) img{width: 193px;}
.main3 ul li:nth-of-type(2) img{width: 151px;}
.main3 ul li:nth-of-type(3) img{width: 205px;}
.main3 ul li:last-child{margin-right: 0;margin-bottom: 0;}
.main3 ul li a{border-radius: 3px;border: solid 1px #adb5bd;width: 85%;display: inline-block;text-align: left;padding: 15px 20px;box-sizing: border-box;font-weight: 600;margin-top: 40px;background: url(../images/ic_arrow_right.svg)no-repeat;background-position: calc(100% - 10px) center!important;}
.main3 ul li a:hover{background:#228ae6 url(../images/ic_arrow_right_w.svg)no-repeat;color:#fff;font-weight:400;}

.main4{text-align:center;}
.main4 .tit h1{margin-bottom: 20px;}
.main4 .tit p{margin-bottom: 80px;}
.main4 ul li:first-child{margin-right:100px;}
.main4 ul li{width: calc(50% - 53px);display:inline-block;}
.main4 ul li p{text-align: left;font-size: 24px;font-weight: 600;color: #212529;margin-top: 24px;margin-bottom: 7px;}
.main4 ul li span{text-align: left;color: #495057;display: block;}

.main5{text-align:left;}
.main5 .tit{text-align:center;}
.main5 .tit h1{margin-bottom: 20px;}
.main5 .tit p{margin-bottom: 80px;}
.main5 .left{display:inline-block;width: 50%;}
.main5 .left p{color: #212529;font-size:24px;font-weight:600;margin-bottom: 17px;}
.main5 .left span{color: #495057;font-weight: 400;}
.main5 .left a{color: #1c7cd6;font-weight: 600;display: block;margin-top: 10px;}
.main5 .right{float:right;}
.main5 .fullscr>video{width: 100%;display: block;position: relative;}
.main5 .fullscr{position:relative;margin-bottom: 40px;}
.main5 .fullscr p{position:absolute;background:rgba(0,0,0,0.5);width:100%;height:100%;z-index: 2;top: 0;left: 0;display:none;}
.main5 .fullscr p span{color: #fff;position: absolute;background: url(../images/main/play_icon.png)no-repeat top center;top: 50%;left: 50%;transform: translate(-50%,-50%);background-size: 60px;text-align: center;z-index: 3;font-size: 28px;font-weight: 500;padding-top: 75px;box-sizing: border-box;display:none;}
.main5 .fullscr:hover p,.main5 .fullscr:hover p span{display:block;}
.main5 .fullscr div{position: fixed;width: 100%;height: 100%;background: rgba(0,0,0,0.9);top: 0;left: 0;z-index: 99;display: none;}
.main5 .fullscr div video{width: 75%;margin: 0 auto;position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);}
.main5 .fullscr div .close{position: absolute;width: 40px;height: 40px;border-radius: 500px;background: rgba(999,999,999,0.3);right: 25px;top: 20px;}
.main5 .fullscr div .close:before{content:"";width: 3px;height: 60%;background:#fff;position:absolute;border-radius: 500px;transform: translate(-50%,-50%) rotate(45deg);top: 50%;left: 50%;}
.main5 .fullscr div .close:after{content:"";width: 3px;height: 60%;background:#fff;position:absolute;border-radius: 500px;transform: translate(-50%,-50%) rotate(-45deg);top: 50%;left: 50%;}
.main5 .right li{padding-left: 22px;padding-bottom: 13px;position: relative;}
.main5 .right li::before{content: "â—";position: absolute;left: 0;top: 4px;font-size: 10px;}

.main6{text-align: center;}
.main6 ul{margin-top:80px;}
.main6 ul li{display: inline-block;margin-right: 25px;width: calc((100% / 3) - 20px);vertical-align: top;}
.main6 ul li div{overflow:hidden;}
.main6 ul li div:hover img{transform:scale(1.2);}
.main6 ul li div img{display:block;transition:transform 0.5s}
.main6 ul li:last-child{margin-right: 0;margin-bottom: 0;}
.main6 ul li p{font-weight: 500;color: #212529;font-weight: 600;margin: 16px 0;}
.main6 ul li span{font-size: 14px;color: #495057;padding: 0 24px;text-align: left;display: block;word-break: keep-all;}

.main7 .tit{text-align: center;margin-bottom: 80px;}
.main7>img{width: 50%;vertical-align: middle;}
.main7 .txt{display: inline-block;width: calc(50% - 5px);padding-left: 5%;vertical-align: middle;}
.main7 .txt p{font-size: 24px;color: #212529;font-weight: 600;margin: 24px 0;}
.main7 .txt span{color: #495057;}
.main7 .mo_img{display: none;}

.main8 .tit{text-align: center;margin-bottom: 80px;}
.main8 li{display: inline-block;margin-right: 25px;width: calc((100% / 3) - 28px);text-align: center;}
.main8 li p{color: #212529;font-weight: 600;margin: 16px 0;}
.main8 li span{color: #495057;font-size:14px;}


@media(max-width: 1000px){
    .main2, .main3, .main4, .main5, .main6, .main7,.main8{padding: 50px 0;box-sizing: border-box;}
    .main1{height: 612px;overflow: hidden;}
    .main1 video{position: absolute;height: 100%;width: auto;left: 50%;transform: translateX(-50%);}
    .main1 .inner{text-align:center;}
    .main1 .inner p br{display:none;}
    .main1 .inner h1{font-size:26px;}
    .main1 .inner p{font-size:16px;word-break:keep-all}
    .main1 .inner a{display:block;margin:0 auto;font-size: 14px;}
    .main1 .inner a.blue_box{margin-bottom: 15px;margin-top: 25px;}
    .logo_wrap img:nth-of-type(3){display:block;margin:0 auto}
    .logo_wrap img:nth-of-type(2){margin-right:0}
    .logo_wrap{padding:15px 0;}
    .tit{text-align:center;}
    .tit h1{font-size:18px!important;}
    .main2 .tit h1{margin-bottom:20px;}
    .main2 .tit p a{margin-top:23px}
    .main2 .tit p{width:100%;}
    .main3 ul li{display:block;width:100%;margin-right:0;text-align: left;padding: 13px 25px;box-sizing: border-box;height: 100px;margin-bottom: 13px;position: relative;}
    .main3 ul li a{display:inline-block;width:auto;border:0;margin-top: 0;vertical-align: middle;padding: 41px;background-position: calc(100% - 35px) center!important;padding-right: 30px;font-weight: 400;padding-left: calc(100% - 185px);position: absolute;width: 100%;left: 0;height: 100%;top: 0;}
    .main3 ul li a:hover{background: url(../images/ic_arrow_right.svg)no-repeat;color: #000;}
    .main3 ul li img{vertical-align:middle}
    .main3 ul li:nth-of-type(1) img{width:191px;}
    .main3 ul li:nth-of-type(2) img{padding: 6px 27px;box-sizing:border-box;width:191px;}
    .main3 ul li:nth-of-type(3) img{width:191px;padding: 3px 0;}
    .main3 .tit p{margin-bottom:40px;}
    .main4 ul li{width:100%;}
    .main4 ul li:first-child{margin-right: 0;}
    .main4 .tit p{margin-bottom:40px;}
    .main4 ul li p{font-size:16px;text-align:center;margin-bottom: 10px;margin-top: 20px;}
    .main4 ul li span{text-align:center;}
    .main4 ul li:first-child{margin-bottom:50px;}
    .main5 .left p{font-size:16px;}
    .main5 .left{display:block;text-align:center;width: 100%;}
    .main5 .right{float:none;display:block;width: 342px;margin:0 auto;margin-top: 25px;}
    .main5 .right li::before{font-size: 5px;top: 1px;}
    .main5 .tit p{margin-bottom:40px}
    .main6 .tit h1{margin-bottom:20px}
    .main6 ul li p{font-size:16px;}
    .main6 ul{margin-top:40px}
    .main6 ul li{width:100%;margin:0;margin-bottom: 50px;text-align: center;}
    .main6 ul li img{width:100%}
    .main6 ul li span{padding:0;text-align:center}
    .main7 .tit h1{margin-bottom:20px;}
    .main7>img{width:100%;}
    .main7 .txt{padding-left:0;padding-top:50px;text-align:center;width:100%}
    .main7 .txt p{font-size:16px;margin-top: 20px;margin-bottom: 10px;}
    .main7 .mo_img{display: block;}
    .main7 .pc_img{display: none;}
    .main8 .tit h1{margin-bottom:20px;}
    .main8 li{width:100%;margin-right:0;margin-bottom: 50px;}
    .main8 li:last-child{margin-bottom:0;}
    .main8 .tit{margin-bottom:40px}
    .main8 li p{font-size:16px;margin-top: 0;}
    .main4 ul li span br{display:none;}

}
@media(max-width: 500px){
    .main3 ul li:nth-of-type(1) img{width:121px;}
    .main3 ul li:nth-of-type(2) img{padding: 4px 15px;box-sizing:border-box;width: 121px;}
    .main3 ul li:nth-of-type(3) img{width:121px;padding: 3px 0;}
    .main3 ul li{height: 85px;padding: 17px 25px;}
    .main3 ul li a{padding: 33px;padding-left: calc(100% - 160px);padding-right: 30px;float: right;}
    .main3 ul li img{margin-left: 3%!important;}
}
@media(max-width: 400px){
    .main4 ul li span{text-align:left;}
    .main5 .left span{text-align:left;display: block;}
    .main5 .left a{text-align:left;}
    .main5 .right{width:100%;text-align:left;}
    .main5 .right li{padding-left:20px}
    .main6 ul li span{text-align:left;}
    .main7 .tit p br{display:none;}
    .main8 li img{width: 100px; }
    .main7 .txt span br{display: none;}
    .main7 .txt img{width: 60px;}
    .main3 ul li{padding: 18px 13px;}
    .main3 ul li a{padding: 34px;padding-left: calc(100% - 125px);padding-right: 20px;float: right;background-position: calc(100% - 7px) center!important;}
}
