@charset "UTF-8";
/* FONT STYLE */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');

   
   @font-face {
      font-family: 'Spoqa_Han_Sans';
      font-style: normal;
      font-weight: 100;
      src: url(../font/SpoqaHanSansNeo-Thin.woff2) format('woff2'),
            url(../font/SpoqaHanSansNeo-Thin.woff) format('woff'),
            url(../font/SpoqaHanSansNeo-Thin.otf) format('opentype');
            
   }
   @font-face {
      font-family: 'Spoqa_Han_Sans';
      font-style: normal;
      font-weight: 300;
      src: url(../font/SpoqaHanSansNeo-Light.woff2) format('woff2'),
            url(../font/SpoqaHanSansNeo-Light.woff) format('woff'),
            url(../font/SpoqaHanSansNeo-Light.otf) format('opentype');
            
   }
   @font-face {
      font-family: 'Spoqa_Han_Sans';
      font-style: normal;
      font-weight: 400;
      src: url(../font/SpoqaHanSansNeo-Regular.woff2) format('woff2'),
            url(../font/SpoqaHanSansNeo-Regular.woff) format('woff'),
            url(../font/SpoqaHanSansNeo-Regular.otf) format('opentype');
            
   }
  @font-face {
     font-family: 'Spoqa_Han_Sans';
     font-style: normal;
     font-weight: 700;
     src: url(../font/SpoqaHanSansNeo-Bold.woff2) format('woff2'),
          url(../font/SpoqaHanSansNeo-Bold.woff) format('woff'),
          url(../font/SpoqaHanSansNeo-Bold.otf) format('opentype');
          
   }
/* RESET */ 
html {font-family: 'Spoqa_Han_Sans';-webkit-text-size-adjust: none;font-size: 16px;letter-spacing: -0.7px;-webkit-overflow-scrolling: touch;font-weight: 400;line-height: 1.5;}
/* 해당페이지폰트로 설정 */
html body { min-width: 320px; }

html, body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, form, fieldset, input, select, label, textarea, table, caption, thead, tfoot, tbody, tr, th, td {margin: 0;padding: 0;-webkit-text-size-adjust: none;font-weight: 400;}

address { font-stretch: normal; }

b, span, strong, input, a, button { font-size: inherit; font-family: 'Spoqa_Han_Sans'; color: inherit; line-height: inherit; }

article, aside, dialog, footer, header, section, footer, nav, figure, hgroup, details, summary, figure, figcaption { display: block; }

button{ border: none; background: none;font-weight: 400;}

select {-webkit-appearance: none;-moz-appearance: none;appearance: none;border: 1px solid #D7D7D7; background: url(../images/select_icon.png)no-repeat; background-position: calc(100% - 5px);background-position : -webkit-calc(100% - 5px); background-position :-moz-calc(100% - 5px);padding-right: 20px!important;font-family: 'Spoqa_Han_Sans';font-size: inherit;}

select::-ms-expand { display: none; }

cite { display: inline; }

html, body { height: 100%; }

html { -webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none; }

body { overflow-y: scroll; margin: 0px; background-attachment: fixed; }

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

img { border: 0; max-width: 100%; }

div { -webkit-box-sizing: border-box; box-sizing: border-box; }

label, input, textarea { vertical-align: middle; border: 0; border-radius: 0; }

input, textarea{border: 1px solid #D7D7D7;box-sizing: border-box;}

ol, ul { list-style: none; margin: 0; padding: 0; }

li { list-style: none; }

table { border-collapse: collapse; table-layout: fixed; width: 100%; }

fieldset { border: none; }

hr, legend { position: absolute; left: -1000%; width: 1px; height: 1px; font-size: 0; line-height: 0; overflow: hidden; }

caption { font-size: 0; height: 0; opacity: 0; }

button { margin: 0; padding: 0; cursor: pointer; display: inline-block; }

em, address { font-style: normal; }

strong { font-weight: normal; }

/* select { -webkit-appearance: none; -moz-appearance: none; appearance: none; }

select::-ms-expand { display: none; } */

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #c0c0c0; }
input::-moz-placeholder, textarea::-moz-placeholder { color: #c0c0c0; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #c0c0c0; }
input:-moz-placeholder, textarea:-moz-placeholder { color: #c0c0c0; }

caption { visibility: hidden; width: 0; height: 0; text-indent: -9999em; }

.hidden { overflow: hidden;border: 0;position: absolute;width: 1px;height: 1px;clip: rect(1px, 1px, 1px, 1px);clip-path: inset(50%);}

.blind { position: absolute; left: -9999em; top: -9999em; overflow: hidden; white-space: nowrap; text-indent: 100%; }

/* *::-webkit-scrollbar {width: 10px;}

*::-webkit-scrollbar-thumb {background-color: rgba(000,000,000,0.2);;border-radius: 10px;background-clip: padding-box;border: 2px solid transparent;}

*::-webkit-scrollbar-track {background-color: rgba(000,000,000,0.1);border-radius: 10px;} */

@media (max-width: 1000px) { html {font-size: 13px;} }
@media (max-width: 450px) { html { font-size: 12px; } }
/* @media (max-width: 375px) { html { font-size: 10px; } } */
/* @media (max-width: 321px) { html { font-size: 9px; } } */
/* 해당페이지반응형px로설정 이대로 설정해도 무관 */
